<div class="media">
  <img src={{image.medium}} class="align-self-start mr-3" alt="...">
  <div class="media-body">
    <h1 class="mt-0">{{name}}</h1>
    {{{summary}}}
    <ul class="list-group">
        <li class="list-group-item">Type: {{type}}</li>
        <li class="list-group-item">Status: {{status}}</li>
        <li class="list-group-item">Official Site: <a href="{{officialSite}}">here</a></li>
        <li class="list-group-item">Runtime: {{runtime}}</li>
        <li class="list-group-item">Rating: {{rating.average}}</li>
    </ul>
  </div>
</div>
